name: Generate GitHub Metrics

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          output_action: commit
          committer_message: "Update Metrics"
          filename: github-metrics.svg

          base: header, activity, repositories
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8
          plugin_stars: no
          plugin_followup: no
          plugin_followup_sections: repositories
